{% extends "dashboard/base.html" %}

{% block content %}

<h3>Transactions</h3>
{% if object_list %}
    <table id="trans" border="1">
        <tr>
            <th>Timestamp</th>
            <th>Response</th>
            <th>Amount</th>
            <th>Mode</th>
            <th>ConfirmationCode</th>
            <th>Tempref</th>
            <th>Credit amount</th>
            <th>Debit amount</th>
            <th></th>
        </tr>
        {% for trans in object_list %}
            <tr style="background: {% if trans.Response == "000" %}#DFD{% else %}#FDD{% endif %}">
                <td>{{ trans.timestamp }}</td>
                <td>{{ trans.Response }}</td>
                <td>{{ trans.sum }}</td>
                <td>{{ trans.tranmode }}</td>
                <td>{{ trans.ConfirmationCode }}</td>
                <td>{{ trans.Tempref }}</td>
                <td>{{ trans.csum }}</td>
                <td>{{ trans.dsum }}</td>
                <td><a href="{% url 'dashboard_detail' trans.id %}" class="see_detail">detail</a></td>
            </tr>
        {% endfor %}
    </table>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'dashboard' %}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'dashboard' %}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% else %}
    <p>No transaction found!!! :(</p>
{% endif %}

{% endblock %}
